* {
	padding: 0;
	margin: 0;
}
.homepage {
	width: 100%;
	height: 700px;
	margin: auto;
	padding-bottom: 30px;
	background: #fff;
}
.top-title {
	width: 100%;
	height: 60px;
	margin: 0 auto;
	background: #74c7c0;
	color: #deebf2;
	
}
.top-left {
	line-height: 60px;
	font-size: 20px;
	padding: 0 2%;
}
.middle-a {
	width: 200px;
	margin: -40px auto 0;
}
.middle-a a {
	width: 80px;
	padding: 3px 0;
	margin-right: 15px;
	border-radius: 8px;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	color: #f2dedf;
}
.top-bright {
	width: 34px;
    height: 1px;
    display: inline-block;
    background: #74c7c0;
    box-shadow: -70px -5px 82px 12px #fff;
    margin-left: 102px;
}
.top-a1 {
	background: #528b86;
}
.top-a2 {
	background: #e8645a;
}
.big-section {
	width: 29%;
	height: 39%;
	margin: 2%;
	margin-bottom: 40px;
	display: inline-block;
	text-align: center;
	box-shadow: 4px 4px 20px #7f8c8c;
}
.section-top {
	height: 20px;
	background: #c1c7c8;
	border: 1px solid #7f8c8c;
	width: 100%;
}
.circle {
	width: 4px;
	height: 4px;
	margin: 6px 2px 5px 8px;
	border-radius: 2px;
	display: inline-block;
	background: #fff; 
}
.left {
	float: left;
}
.right {
	float: right;
	margin-right: 9px;
	margin-top: 8px;
}
.section-img {
	width: 100%;
	height: 91%;
	display: block;
	border: 1px solid #7f8c8c;
}
.section-name {
	margin-top: 10px;
	padding: 2px 5px;
	font-size: 14px;
	color: #defce2;
	border-radius: 3px;
	display: inline-block;
	background-color: #e2534b;
}
.smallsection-name {
	text-align: center;
}
.second-section {
	width: 96%;
	height: 600px;
	margin: 2% 0;
	display: none;
	position: absolute;
	background: #e4e4e4;
	left: 2%;
}
.small-section {
	width: 20%;
	height: 540px;
	margin: 30px 2%;
	display: inline-block;
	background: #fff;
}
.small-pic {
	width: 100%;
	height: 200px;
}
.small-pic img{
	width: 100%;
	height: 180px;
}
.small-back {
	width: 96%;
    height: 22px;
    padding: 0 2%;
    background: #c1c7c8;
}
.scircle {
	width: 4px;
	height: 4px;
	border-radius: 2px;
	background: #f3f2f2;
	margin: 10px 2px;
}

.smallsection-name span{
	margin-top: 10px;
	padding: 2px 5px;
	font-size: 14px;
	color: #defce2;
	border-radius: 3px;
	display: inline-block;
	background-color: #e2534b;
}
.small-section p {
	margin: 10px 10px;
}
.no-div {
	width: 96%;
    height: 600px;
    margin: 0 2%;
    background: #e4e4e4;
    display: none;
}